<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#pd.get_dummies" data-toc-modified-id="pd.get_dummies-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>pd.get_dummies</a></span></li></ul></div>

## pd.get_dummies

一般用于将字符串类型的值进行独热编码（转为one hot向量）

In [3]:
import pandas as pd

# 创建一个包含分类变量的 DataFrame
data = {'category': ['A', 'B', 'C', 'A', 'B', 'C']}
df = pd.DataFrame(data)
df

  category
0        A
1        B
2        C
3        A
4        B
5        C

In [4]:
dummy_df = pd.get_dummies(df['category'])
dummy_df

       A      B      C
0   True  False  False
1  False   True  False
2  False  False   True
3   True  False  False
4  False   True  False
5  False  False   True