要根据条件对 Pandas DataFrame 中的特定列进行赋值，你可以使用条件语句来选择要更改的行，然后将新值赋给所选行的指定列。

下面是一个示例，假设你有一个 DataFrame df，包含列 A、B 和 C：

In [6]:
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}

df = pd.DataFrame(data)

df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

假设你想要对列 A 进行条件赋值，如果列 B 的值大于 4，则将列 A 的值设置为 0。你可以按照以下方式实现：

In [4]:
df.loc[df['B'] > 4, 'A'] = 0

df

   A  B  C
0  1  4  7
1  0  5  8
2  0  6  9

你也可以使用多个条件，比如：

In [5]:
df.loc[(df['B'] > 4) & (df['C'] < 9), 'A'] = 100

df

     A  B  C
0    1  4  7
1  100  5  8
2    0  6  9